body {
	-webkit-font-smoothing: antialiased;
	height: 100% !important;
}

div.grid > div.row {
	margin-top: 20px;
}

.landing {
	$height: 100%;
	$height_header: 10%;
	$height_video: $height - $height_header;
	
	display: block;
	height: $height;
	width: 100%;
	// background-color: red;
	
	 > * {
		display: inherit;
		width: 100%;
	}
	
	> .header {
		width: 94%;
		margin: 0 auto;
		min-height: 65px;
		height: $height_header;
		// background-color: lightgreen;
		
		> .branding {
			display: inline-block;
			position: relative;
			height: 100%;
			min-width: 265px;

			> a {
				margin: 0;
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				text-decoration: none;
				color: #898989;
				transition: all 0.2s ease-out;
				padding: 3px;	

				&:hover {
					color: #2aa8e0;
				}

				&:focus {
					box-shadow: 0 0 1px 1px #ccc;
					border-radius: 5px;
				}
				
				> h2 {
					white-space: nowrap;
					text-overflow: clip;
					text-align: left;
					
					.logo-branding {
						display: inline-block;
						width: 50px;
						vertical-align: middle;
					}
				}
			}
		}
		> .i18n {
			display: table;
			position: relative;
			float: right;
			height: 100%;
			width: 67px;
			
			a {
				display: table-cell;
				vertical-align: middle;
				i {
					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}
	}
	
	> #container-video {
		position: relative;
		height: $height_video;
		width: 100%;

		> video {
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			opacity: 0.9;
			background: url('../img/hermle.png') no-repeat;
			background-size: cover;
		}

		.descriere {
			position: relative;
			width: 80%;
			margin: 0 auto;
			top: 50%;
			transform: translate(0, -50%);
			text-align: center;
			
			> #detalii {
				&:hover {
					background-color: #d4d4d4 !important;
					color: #767676 !important;
					opacity: 0.8;
				}
			}
		}
		.buton_play {
			display: block;
			position: absolute;
			width: 50px;
			height: 50px;
			bottom: 20px;
			right: 20px;
			text-align: center;
			i {
				line-height: 50px;
				font-size: 15px;
			}
		}
	}
}

.transparent {
	display: block !important;
	position: relative;
	width: 13vw;
	margin: 0 auto !important;
	background-color: transparent !important;
	border: 1px solid white !important;
	color: white !important;

	&:hover {
					background-color: #d4d4d4 !important;
					color: #767676 !important;
					opacity: 0.8;
			}
}

#pagina-1 > .transparent {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

[id^="pagina-"] {
	display: block;
	position: relative;
	height: 100vh;
	width: 100%;
}

#pagina-1 {
	display: block;
	background-color: lightgrey; 
	svg#frezare {
		height: 100%;
		width: 70%;

		#freza {
			animation-name: frezare;
			animation-duration: 3s;
			animation-iteration-count: infinite;
			animation-delay: 0s;
			animation-timing-function: linear;
			transform-origin: 50% 50%;
		}

		@keyframes frezare {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}

		#span {
			animation-name: span;
			animation-duration: 0.9s;
			animation-iteration-count: infinite;
			animation-delay: 0s;
			animation-timing-function: linear;
			animation-direction: reverse;
		}

		@keyframes span {
			0% {
				transform: none;
				opacity: 0;
			}
			50% {
				transform: translate(100px) rotate(4deg);
				opacity: 1;
			}

			51% {
				transform: none;
				opacity: 0;
			}

			100% {
				transform: translate(100px) translateY(10px) rotate(5deg);
				opacity: 1;
			}
		}
	}
}

#pagina-2 {
	background-color: aqua;
}

.imagine-span {
	position: fixed;
	width: 80%;
	margin: 0 auto;
	display: block;
	/* padding-top: 30px; */
	height: 90px;
	z-index: 1;
	top: 40px;
	left: -800px;
	transition: 0.2s left;
}

.logo {
	@extend .logo-branding;
	position: fixed;
	width: 150px;
	top: 10px;
	left: 0;
	z-index: 2;
}

.nume_sectiune {
	display: block;
	position: absolute;
	width: 100px;
	height: 40px;
	font-size: 20pt;
	font-weight: bold;
	top: 6%;
	left: 50%;
	transform: translateX(-50%);
}

