$height: 100%;
$height_header: 10%;
$height_video: $height - $height_header;

body {
	-webkit-font-smoothing: antialiased;
	height: 100% !important;
	overflow-x: hidden; 
}

div.grid > div.row {
	margin-top: 20px;
}

.header {
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: 0 3%;
	min-height: 65px;
	height: $height_header;
	clear: both;
	overflow: hidden;
	background-color: rgba(161, 168, 171, 0.67);
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 2px solid rgba(152, 144, 144, 0.78);
	transition: background-color 0.7s;
	box-sizing: border-box;

	&:hover {
		background-color: rgba(161, 168, 171, 0.9);
	}
	
	.branding {
		display: inline-block;
		position: relative;
		height: 100%;
		min-width: 265px;

		> a {
			margin: 0;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			text-decoration: none;
			color: rgba(84, 83, 83, 0.98);
			transition: all 0.2s ease-out;
			padding: 3px;	

			&:hover {
				color: #2aa8e0;
			}

			&:focus {
				box-shadow: 0 0 1px 1px #ccc;
				border-radius: 5px;
			}
			
			> h2 {
				white-space: nowrap;
				text-overflow: clip;
				text-align: left;

				.logo-branding {
					display: inline-block;
					width: 50px;
					vertical-align: middle;
				}
			}
		}
	}
	
	.container-butoane {
		  display: block;
		  position: relative;
		  width: 50%;
		  height: 100%;
		  // background-color: red;
		  float: right;
		  overflow: hidden;
		  white-space: nowrap;

		  ul {
		  	display: inline-table;
		  	position: relative;
		  	height: 100%;
		  	width: 100%;
		  	padding:0;
		  	margin:0;
		  	
		  	li {
		  		display: table-cell;
		  		position: relative;
		  		height: 100%;
		  		list-style: none;
		  		vertical-align: middle;
		  		text-align: center;
		  		font-size: 1.4em;
		  		// font-weight: bold;
		  		padding: 5px;
		  		transition: all .7s;
		  		cursor: pointer;
	  			a {
	  				color: rgba(84, 83, 83, 0.98);
					font-family: 'Lato', sans-serif;
					text-transform: lowercase;
					background-color: inherit;
	  				&:after {
	  					display: block;
	  					position: absolute;
	  					content: '';
	  					border-bottom: 5px solid;
	  					border-color: inherit;
	  					transition: all ease-in 0.3s;
	  					width: 80%;
	  					bottom: 3px;
						left: 50%;
						transform: translateX(-50%);
	  					opacity: 0;
	  				}
	  			}
		  		&:hover {
		  			cursor: pointer;
		  			a:after {
		  				opacity: 0.5;
	  					bottom: 15px;
		  			}
		  		}
		  	}

		  	a.skrollable-between:after {
		  		opacity: 0.5;
				bottom: 15px;
		  	}
		}

	}
	.i18n {
		display: table;
		position: relative;
		float: right;
		height: 100%;
		width: 67px;
		
		a {
			display: table-cell;
			vertical-align: middle;
			i {
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}

}

.landing {
	display: block;
	height: $height;
	width: 100%;
	// background-color: red;
	
	 > * {
		display: inherit;
		width: 100%;
	}
	
	> #container-video {
		position: relative;
		height: $height;
		width: 100%;

		> video {
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			opacity: 0.9;
			background: url('../img/hermle.png') no-repeat;
			background-size: cover;
		}

		.descriere {
			position: relative;
			width: 80%;
			margin: 0 auto;
			top: 50%;
			transform: translate(0, -50%);
			text-align: center;

			span.evidentiere {
				background-color: rgba(131, 202, 228, 0.5);
				border-radius: 5px;
				opacity: 0.8;
			}
			
			> #detalii {
				&:hover {
					background-color: rgba(131, 202, 228, 0.2) !important;
					color: #000 !important;
					opacity: 0.8;
				}
			}
		}
		.buton_play {
			display: block;
			position: absolute;
			width: 50px;
			height: 50px;
			bottom: 20px;
			right: 20px;
			text-align: center;
			cursor: pointer;
			i {
				line-height: 50px;
				font-size: 15px;
			}
		}
	}
}

.transparent {
	display: block !important;
	position: relative;
	width: 200px;
	margin: 0 auto !important;
	background-color: transparent !important;
	border: 1px solid white !important;
	color: white !important;

	&:hover {
					background-color: #d4d4d4 !important;
					color: #767676 !important;
					opacity: 0.8;
			}
}

#pagina-1 > .transparent {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

[id^="pagina-"] {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: rgba(135, 8, 139, 0.14);
	border-bottom: 1px solid rgba(152, 144, 144, 0.7);
	box-sizing: border-box;
}

#pagina-1 {
	display: block;
	svg#frezare {
		height: 100%;
		width: 70%;

		#freza {
			animation-name: frezare;
			animation-duration: 3s;
			animation-iteration-count: infinite;
			animation-delay: 0s;
			animation-timing-function: linear;
			transform-origin: 50% 50%;
		}

		@keyframes frezare {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}

		#span {
			animation-name: span;
			animation-duration: 0.9s;
			animation-iteration-count: infinite;
			animation-delay: 0s;
			animation-timing-function: linear;
			animation-direction: reverse;
		}

		@keyframes span {
			0% {
				transform: none;
				opacity: 0;
			}
			50% {
				transform: translate(100px) rotate(4deg);
				opacity: 1;
			}

			51% {
				transform: none;
				opacity: 0;
			}

			100% {
				transform: translate(100px) translateY(10px) rotate(5deg);
				opacity: 1;
			}
		}
	}
}

// culori sectiuni - butoane navigatie si background sectiune cu transparenta mare
.frezare, [data-section-name="frezare"] {
	border-color: rgba(14, 165, 255, 1);
	background-color: rgba(14, 165, 255, 0.1);
}

.strunjire, [data-section-name="strunjire"] {
	border-color: #ffc0c0;
	background-color: #ffe6e6;
}

.eroziune, [data-section-name="eroziune"] {
	border-color: #0bac08;
	background-color: #b8f4b8;
}

.lepuire, [data-section-name="lepuire"] {
	border-color: #AC0808;
	background-color: rgba(172, 8, 8, 0.1);
}

.rectificare, [data-section-name="rectificare"] {
	border-color: #0031AE;
	background-color: rgba(0, 49, 174, 0.1);
}

.masini-speciale, [data-section-name="masini speciale"] {
	border-color: #F7D800;
	background-color: rgba(247, 216, 0, 0.1);
}

.cam, [data-section-name="cam"] {
	border-color: #A208AC;
	background-color: rgba(162, 8, 172, 0.1);
}

// .imagine-span {
// 	position: fixed;
// 	width: 80%;
// 	margin: 0 auto;
// 	display: block;
// 	/* padding-top: 30px; */
// 	height: 90px;
// 	z-index: 1;
// 	top: 40px;
// 	left: -800px;
// 	transition: 0.2s left;
// }

// .logo {
// 	@extend .logo-branding;
// 	position: fixed;
// 	width: 150px;
// 	top: 10px;
// 	left: 0;
// 	z-index: 2;
// }

.nume_sectiune {
	display: block;
	position: absolute;
	width: 100px;
	height: 40px;
	font-size: 20pt;
	font-weight: bold;
	top: 6%;
	left: 50%;
	transform: translateX(-50%);
}

.go-down {
		position: absolute;
		width: 100%;
		bottom: 8px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 4em;
		transition: all 0.5s;
		text-align: center;
		cursor: pointer;
		opacity: 0.3;
		
		// i {
		// 	transition: all 0.5s;
		// }

		&:hover {
			bottom: 5px;
			background-color: rgba(180,180,180,0.5);
			border-radius: 3px;
			opacity: 1;
			// i {
			// 	transform: scale(1.2);
			// }
		}
		
}

.container-animatie {
	display: block;
	position: relative;
	height: 90%;
	width:70%;
	top: 10%;
	border-right: 2px solid rgba(152, 144, 144, 0.3);
	box-sizing: border-box;
	float: left;
}

.container-producatori {
	display: block;
	position: relative;
	height: 90%;
	width: 30%;
	top: 10%;
	float: left;

	.producator {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 10px;

		img {
			position: relative;
			display: block;
			transition: all 0.7s;
			margin: 0;
			padding: 0;
			opacity: 0.8;

			&:hover {
				margin-left: 10px;
				opacity: 1;
			}
		}

		p {
			text-indent: 15px;
		}
	}

}
